$primary-color: #fbce70;
$brown-color: #523021;
$grey-color: #646464;

body {
    position: relative;
    height: 100%;
}
.heading-cart{
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 999999999;
    padding: 24px;
    transform: translateX(100%);
    transition: all .25s linear;
    .times {
        display: flex;
        align-items: center;
        cursor: pointer;
        i {
            margin-left: auto;
            margin-right: 8px;
            font-size: 3rem;
        }
        span {
            font-size: 1.8rem;

        }
    }
    .cart-title{
        padding-bottom: 16px;
        border-bottom: 1px solid rgb(184, 184, 184);
        h3 {
            font-family: 'Rancho', sans-serif;
            font-size: 2rem;
            font-weight: 500;
            color: #523021;
        }
    }
    .cart-desc{
        text-align: center;
        p {
            font-size: 1.5rem;
        }
        a {
            padding: 8px 24px;
            background-color: #523021;
            border-radius: 20px;
            font-size: 1.5rem;
            margin-top: 24px;
            transition: all .25s linear;
            font-weight: bold;
            &:hover{
                background-color: #fbce70;
                color: black;
            }
        }
        &-item{
            display: none;
            &-content{
                display: flex;
                margin-top: 32px;
                justify-content: space-between;
                transition: all .5s linear;
                &-image{
                    width: 25%;
                    img {
                        width: 100%;
                    }
                }
                &-text{
                    width: 50%;
                    text-align: left;
                    h6 {
                        font-size: 1.6rem;
                        font-weight: 500;
                    }
                    p {
                        margin: 8px 0;
                        font-size: 1.2rem;
                        color: $grey-color;
                    }
                    span {
                        font-size: 1.2rem;
                        color: $grey-color;
                    }
                }
                &-times{
                    font-size: 2rem;
                    i {
                        cursor: pointer;
                    }
                }
            }
            &-content.fall {
                opacity: 0;
            }
            &-total{
                margin-top: 16px;
                padding-top: 16px;
                border-top: 1px solid rgb(230, 226, 226);
                display: flex;
                justify-content: space-between;
                align-items: center;
                p,span{
                    font-size: 1.6rem;
                }
                span {
                    font-family: 'Rancho';
                    font-weight: 200;
                    font-size: 2rem;
                    color: $brown-color;
                }
            }
            &-buttons{
                a {
                    width: 100%;
                    text-align: center;
                    font-size: 1.6rem;
                    background-color: $brown-color;
                    border-radius: 30px;
                    padding: 8px 0;
                }
                a:last-child{
                    background-color: white;
                    color: black;
                    border: 1px solid rgb(230, 236, 226);
                    color: $grey-color;
                    transition: all .25s linear;
                    &:hover{
                        background-color: #fbce70;
                        color: black;
                    }
                }
            }
        }
        &-item.active{
            display: block;
        }
        &-empty{
            display: none;
            margin-top: 24px;
                p {
                    color: $grey-color;
                    font-size: 1.4rem;
                }
        }
        &-empty.active{
            display: block;
        }

    }
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: all .25s linear;
}
.overlay.active{
    opacity: 1;
    visibility: visible;
}


.heading {
    background-color: $brown-color;
    height: auto !important;
}
.banner {
    background-image: url('./image/collection-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 48px 0;
    .banner-heading{
        h4 {
            font-family: 'Rancho', sans-serif;
            color: white;
            font-size: 4rem;
            font-weight: 500;
        }
    }
    a,span {
        color: white;
        font-size: 1.4rem;
    }
    a:hover {
        color: orange;
        transition: all .25s linear;
    }
    span:nth-of-type(1){
        margin: 0 8px;
    }
}

.main {
    &-heading{
        width: 90%;
        margin: 0 auto;
        padding: 64px 0;
        &-banner{
            display: grid;
            grid-template-columns: 33.333% 33.333% 33.333%;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            width: 100%;
            &-item {
                border-radius: 20px;
                overflow: hidden;
            }
            &-item:nth-of-type(1){
                grid-column: 1/3;
                grid-row: 1/3;
                img {
                    width: 100%;
                    display: block;
                }
            }
            &-item:nth-of-type(2){
                grid-column: 3/4;
                grid-row: 1/2;
                img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-item:nth-of-type(3){
                grid-column: 3/4;
                grid-row: 2/3;
                img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &-desc{
            text-align: center;
            width: 70%;
            margin: 32px auto 0;
            p {
                color: $grey-color;
                font-size: 1.6rem;
            }
            a {
                margin-top: 16px;
                font-size: 1.6rem;
                padding: 8px 24px;
                background-color: $brown-color;
                transition: all .25s linear;
                border-radius: 20px;
                &:hover{
                    background-color: $primary-color;
                    color: black;
                }
            }
        }
    }
}


.main-welcome{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 64px;
    &-left{
        width: 50%;
        &-heading{
            h6 {
                font-size: 5rem;
                font-family: 'Rancho', sans-serif;
                color: $brown-color;
                font-weight: 500;
            }
            p {
                padding-top: 8px;
                font-size: 1.6rem;
                color: $grey-color;
            }
        }
        &-featured{
            padding: 64px 32px;
            &-item{
                display: flex;
                align-items: center;
                .icon {
                    position: relative;
                    width: 70px;
                    height: 70px;
                    text-align: center;
                    span {
                        i {
                            font-size: 2.5rem;
                            color: white;
                            position: relative;
                            z-index: 1;
                            line-height: 70px;
                        }
                    }
                    &:before{
                        content: '';
                        border-radius: 5px;
                        height: 50px;
                        width: 50px;
                        background-color: $grey-color;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
                &-content{
                    margin-left: 42px;
                    p {
                        font-size: 2rem;
                        color: $grey-color;
                        margin-bottom: 4px;
                        font-weight: 500;
                    }
                    span {
                        font-size: 1.4rem;
                        color: $grey-color;
                    }
                }
            }
            &-item + &-item {
                margin-top: 128px;
            }
        }
    }
    &-right{
        width: 50%;
        img {
            display: block;
            width: 100%;
        }
    }
}

.main-ads{
    width: 90%;
    margin: 0 auto;
    margin-top: 128px;
    display: flex;
    flex-wrap: wrap;
    &-item{
        width: 100%;
        position: relative;
        img {
            display: block;
            width: 50%;
        }
        &-content{
            background-color: $brown-color;
            position: absolute;
            top: 50%;
            left: 45%;
            width: 30%;
            padding: 24px;
            p {
                font-size: 1.4rem;
                color: white;
                margin-bottom: 8px;
            }
            span {
                font-size: 1.4rem;
                color: $primary-color;
            }
        }
    }
    &-item:nth-child(2){
        margin: 64px 0;
        img {
            margin-left: auto;
        }
        .main-ads-item-content{
            left: unset;
            right: 45% !important;
        }
    }
}

.heading-desc {
    margin-bottom: 16px;
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Rancho', sans-serif;
    color: $brown-color;
    text-align: center;
}
.main-testimonial{
    background-color: #f5f5f5;
    padding: 32px 0;
    &-container{
        width: 90%;
        margin: 0 auto;
        height: 100%;
        &-item{
            padding: 32px 0;
            &-content{
                background-color: white;
                color: $grey-color;
                border: 1px solid rgb(216, 215, 215);
                padding: 16px ;
                blockquote {
                    font-size: 1.4rem;
                }
            }
            &-author {
                padding: 16px;
                p {
                    font-family: 'Rancho', sans-serif;
                    font-weight: 500;
                    font-size: 3rem;
                    color: black;
                }
                span {
                    font-size: 2rem;
                    color: $brown-color;
                }
            }
        }
    }
}

.main-client{
    padding-top: 64px;
    &-logo-container{
        &-item{
            width: 33.333%;
            padding: 48px;
            img {
                width: 100%;
                display: block;
            }
        }
    }
}
.swiper-pagination-bullet-active {
    background-color: $primary-color !important; 
}
@import "responsive.scss";