$primary-color: #fbce70;
$brown-color: #523021;
$grey-color: #646464;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.heading-cart{
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 999999999;
    padding: 24px;
    transform: translateX(100%);
    transition: all .25s linear;
    .times {
        display: flex;
        align-items: center;
        cursor: pointer;
        i {
            margin-left: auto;
            margin-right: 8px;
            font-size: 3rem;
        }
        span {
            font-size: 1.8rem;

        }
    }
    .cart-title{
        padding-bottom: 16px;
        border-bottom: 1px solid rgb(184, 184, 184);
        h3 {
            font-family: 'Rancho', sans-serif;
            font-size: 2rem;
            font-weight: 500;
            color: #523021;
        }
    }
    .cart-desc{
        padding: 16px;
        text-align: center;
        p {
            font-size: 1.5rem;
        }
        a {
            padding: 8px 24px;
            background-color: #523021;
            border-radius: 20px;
            font-size: 1.5rem;
            margin-top: 24px;
            transition: all .25s linear;
            font-weight: bold;
            &:hover{
                background-color: #fbce70;
                color: black;
            }
        }

    }
}
.heading-cart.active{
    transform: translateY(0);
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: all .25s linear;
}
.overlay.active{
    opacity: 1;
    visibility: visible;
}


.heading {
    background-color: $brown-color;
    height: auto !important;
}

.banner {
    background-image: url('./image/collection-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 48px 0;
    .banner-heading{
        h4 {
            font-family: 'Rancho', sans-serif;
            color: white;
            font-size: 4rem;
            font-weight: 500;
        }
    }
    a,span {
        color: white;
        font-size: 1.4rem;
    }
    a:hover {
        color: orange;
        transition: all .25s linear;
    }
    span:nth-of-type(1){
        margin: 0 8px;
    }
}

.wishlist-product{
    padding-top: 64px;
    &-table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
        margin: 0 auto;
        td,th {
            padding: 8px;
            font-size: 2rem;
            font-family: 'Rancho', sans-serif;
            font-weight: 500;
        }
        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
        tr {
            background-color: white;
            border-bottom: 1px solid #bdbdbd;
            opacity: 1;
            transition: all .5s linear;
        }
        tr td:first-child{
            width: 15%;
            img {
                width: 100%;
            }
        }

        td {
            a {
                font-size: 1.5rem;
                background-color: $brown-color;
                padding: 8px 24px;
                border-radius: 20px;
                font-family: 'Rancho', sans-serif;
                font-weight: 500;
            }
            i {
                font-size: 3rem;
                opacity: 0.5;
                transition: all .5s linear;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
tr.fall {
    opacity: 0;
}


@import "footer.scss"